.buttonConnect{
  cursor: pointer;
  border: 8px solid #000;
  background: #000;
  color: #fff;
  padding: auto;
  font-size: 20px;
  margin: 1px;
  border-radius: 8px;
}
.buttonConnectConfirmed{
  cursor: pointer;border: 8px solid #4caf50;background: #4caf50;color: #fff;padding: auto;font-size: 20px;margin: 1px;border-radius: 8px;
}
.buttonConnectUnconfirmed{
  cursor: pointer;border: 8px solid #4caf50;background: #4caf50;color: #fff;padding: auto;font-size: 20px;margin: 1px;border-radius: 8px;
}

.walletCard{
  text-align: -webkit-center;
}